	<div class="flex gap-4 ">
		<div class="flex w-full justify-between gap-2">
			{%- for block in section.blocks -%}
			<div class="w-1/2">
				{% render 'lazy-images', image: block.settings.image, class: 'w-full h-full rounded-2xl p-10' %}
			</div>
			{% endfor %}
	</div>

</div>
{% schema %}
{
    "name": "2 Columns Image",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Multicolumn",
        "label": "t:sections.multicolumn.settings.title.label"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Upload Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "2 Columns Image",
        "blocks": [
          {
            "type": "column"
          },
          {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}