<div class="bike_wrapper py-20" >
	<div class="w-full flex lg:flex-row flex-col-reverse {% if section.settings.direction == "right" %} flex-row {% endif %} {% if section.settings.direction == "left" %} flex-row-reverse {% endif %}">
		<div class="lg:w-1/2 w-full">
			<div class=" {% if section.settings.direction == "right" %} flex justify-end items-center m-auto lg:w-8/12 w-11/12{% endif %} {% if section.settings.direction == "left" %} 
			flex justify-end items-center m-auto lg:w-8/12 w-11/12  test {% endif %}">
				{% render 'lazy-images', image: section.settings.image, class: 'w-full h-3/4 object-contain flex justify-end' %}
			</div>
		</div>
		<div class="lg:w-1/2 w-full">
			<div class="{% if section.settings.direction == "right" %} flex flex-col justify-center h-full lg:w-9/12 w-11/12 mx-auto  {% endif %} {% if section.settings.direction == "left" %} flex flex-col justify-center h-full m-auto lg:w-8/12 w-11/12 test2 {% endif %}">
				<h1 class="title_bike">{{ section.settings.title_bike }}</h1>
				<div class="desc_bike">{{ section.settings.desc_bike }}</div>
				<div class="flex lg:flex-nowrap flex-wrap justify-between py-20">
					<div class="block lg:w-auto w-1/2">
						<span class="mini_info">Recharges</span>
						<p class="info_bike">3-4 hours</p>
					</div>
					<div class="block lg:w-auto w-1/2">
						<span class="mini_info">Weights</span>
						<p class="info_bike">13 kg</p>
					</div>
					<div class="block lg:w-auto w-1/2">
						<span class="mini_info">Range</span>
						<p class="info_bike">Up to 20km</p>
					</div>
					<div class="block lg:w-auto w-1/2">
						<span class="mini_info">Power</span>
						<p class="info_bike">180 watt</p>
					</div>
				</div>
				<div class="flex">
				<a href="">Configure and buy</a>	
				<a href="">More details</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
{
  "name": "Bike Section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
			{
				"type": "text",
				"id": "title_bike",
				"label": "Title"
		},
		{
			"type": "richtext",
			"id": "desc_bike",
			"label": "DEscription"
	},
			{
        "type": "select",
        "id": "direction",
        "options": [
          {
            "value": "left",
            "label": "Change on left"
          },
          {
            "value": "right",
            "label": "Change on right"
          }
        ],
        "label": "Change direction of image and text"
      },
      {
          "type": "richtext",
          "id": "short-description",
          "label": "Short description",
          "default": "<p>Lorem ipsum dolor sit amet...</p>"
      }
  ],
"blocks": [
  {
    "type": "text",
    "name": "Block",
    "limit": 10,
    "settings": [
      {
          "type": "html",
          "id": "svg_code",
          "label": "SVG Code"
      },
      {
        "type": "text",
        "id": "name",
        "label": "Name"
      },
      {
        "type": "richtext",
        "id": "position",
        "label": "Position"
      },
      {
          "type": "richtext",
          "id": "description",
          "label": "Description Review"
      }
    ]
  }
],
	"presets": [
	{
		"name": "Bike Section"
	}
]
}
  {% endschema %}