<div class="swiper mySwiper_imagetext">
	<div class="w-full flex swiper-wrapper">
		{%- for block in section.blocks -%}
		<div class="swiper-slide">
			<div class=" w-full w-full flex  {% if block.settings.boxposition == 'top' %} flex-col {% endif %} {% if block.settings.boxposition == 'bottom' %} flex-col-reverse	 {% endif %}">
				<div>
					{% render 'lazy-images', image: block.settings.image, class: 'w-full h-full ' %}
				</div>
				<div class="box_text text-center relative">
					{% render 'lazy-images', image: block.settings.secimage, class: 'w-full h-full ' %}
						<div class="box_absolute">
							<p class="title_box">Customize wheel color</p>
							<p class="desc_box">Duis sem ante, hendrerit non malesuada ultrices, ultrices eu eros.</p>
						</div>
				</div>
		</div>
		</div>
		{% endfor %}
	</div>
</div>

{% schema %}
{
    "name": "Block Image Text",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Multicolumn",
        "label": "t:sections.multicolumn.settings.title.label"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Upload Image"
          },
					{
            "type": "image_picker",
            "id": "secimage",
            "label": "Upload Image"
          },
					{
						"type": "select",
						"id": "boxposition",
						"options": [
							{
								"value": "top",
								"label": "Change on top"
							},
							{
								"value": "bottom",
								"label": "Change on bottom"
							}
						],
						"label": "Change box position of image and text"
					}
        ]
      }
    ],
    "presets": [
      {
        "name": "Block Image Text",
        "blocks": [
          {
            "type": "column"
          },
          {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}