<div class="container mx-auto flex">
	<div class="w-1/5">
		<div class="flex">
			{% render 'lazy-images', image: block.settings.image, class: 'icon_circle' %}
		</div>
	</div>
	<div class="w-1/5">
			
	</div>
</div>